In [94]:
import pandas as pd 
import glob
import os

In [59]:
df_noenBDU = pd.read_csv("ccteble_x_operacion.csv", header=0, sep=',')
df_noenBDU

       sistema_x     operacion     cctble
0              8  C01019500254  111501011
1              8  C01019502931  111001011
2              8  C01019505787  111501011
3              8  C01019506414  111501011
4              8  C01019510543  111001011
...          ...           ...        ...
31902          1  D08410060988  111000377
31903          1  D11810057665  111000377
31904          1  D11810057700  111000377
31905          1  D36099930205  114004140
31906          1  D39699928252  111000377

[31907 rows x 3 columns]

In [105]:
df_bo = pd.concat([pd.read_csv(f, header=None, sep=',', usecols=[5, 7], names=["operacion", "ccta_ctble"]) for f in glob.glob(os.getcwd()+'/BO/*.TCL')])
#usecols=range(0, 2), dtype={0: str}, names=["sistema", "operacion"]

df_bo

ValueError: No objects to concatenate

In [61]:
df2=pd.merge(df_bo, df_noenBDU, on=["operacion"],how="inner",indicator=True)
df2

Empty DataFrame
Columns: [operacion, ccta_ctble, sistema_x, cctble, _merge]
Index: []

In [47]:
df_ctactble = df2.iloc[:, 1:4]

In [48]:
df_ctactble.cctble.unique()

array([960000015, 140116014, 140102019])

In [52]:
df2.loc[df2["ccta_ctble"] == 140102019]

        operacion   ccta_ctble  sistema_x     cctble _merge
232  G08100674049  140102019.0          9  140102019   both
233  G08100676276  140102019.0          9  140102019   both
277  G09000672222  140102019.0          9  140102019   both
278  G09000672223  140102019.0          9  140102019   both
279  G09000672225  140102019.0          9  140102019   both