In [65]:
import json
import pandas as pd                
from pandas import DataFrame

In [152]:
with open('/home/jaimoto/Descargas/archivo 1.json') as f:
  data = json.load(f)

with open('/home/jaimoto/Descargas/archivo 2.json') as f:
  data2 = json.load(f)
#print(data)

In [153]:
data_string = json.dumps(data)
decoded = json.loads(data_string)

data_string2 = json.dumps(data2)
decoded2 = json.loads(data_string2)

In [95]:
type(decoded)

dict

In [93]:
decoded["addressList"]

[{'addressId': '2762962', 'addressValue': 'AVDA. PERU 880'},
 {'addressId': '2858509', 'addressValue': 'AVDA. PERU 880'},
 {'addressId': '2844005', 'addressValue': 'AVDA. PERU 880 DEPTO 1001'},
 {'addressId': '2843934', 'addressValue': 'AVDA. PERU 880 DEPTO 201'},
 {'addressId': '2843935', 'addressValue': 'AVDA. PERU 880 DEPTO 202'},
 {'addressId': '2843936', 'addressValue': 'AVDA. PERU 880 DEPTO 203'},
 {'addressId': '2843937', 'addressValue': 'AVDA. PERU 880 DEPTO 204'},
 {'addressId': '2843938', 'addressValue': 'AVDA. PERU 880 DEPTO 205'},
 {'addressId': '2843939', 'addressValue': 'AVDA. PERU 880 DEPTO 206'},
 {'addressId': '2843940', 'addressValue': 'AVDA. PERU 880 DEPTO 207'},
 {'addressId': '2843941', 'addressValue': 'AVDA. PERU 880 DEPTO 208'},
 {'addressId': '2843942', 'addressValue': 'AVDA. PERU 880 DEPTO 301'},
 {'addressId': '2843943', 'addressValue': 'AVDA. PERU 880 DEPTO 302'},
 {'addressId': '2843944', 'addressValue': 'AVDA. PERU 880 DEPTO 303'},
 {'addressId': '2843945', 'addressValue': 'AVDA. PERU 880 DEPTO 304'},
 {'addressId': '2843946', 'addressValue': 'AVDA. PERU 880 DEPTO 305'},
 {'addressId': '2843947', 'addressValue': 'AVDA. PERU 880 DEPTO 306'},
 {'addressId': '2843948', 'addressValue': 'AVDA. PERU 880 DEPTO 307'},
 {'addressId': '2843949', 'addressValue': 'AVDA. PERU 880 DEPTO 308'},
 {'addressId': '2843950', 'addressValue': 'AVDA. PERU 880 DEPTO 309'},
 {'addressId': '2843951', 'addressValue': 'AVDA. PERU 880 DEPTO 401'},
 {'addressId': '2843952', 'addressValue': 'AVDA. PERU 880 DEPTO 402'},
 {'addressId': '2843953', 'addressValue': 'AVDA. PERU 880 DEPTO 403'},
 {'addressId': '2843954', 'addressValue': 'AVDA. PERU 880 DEPTO 404'},
 {'addressId': '2843955', 'addressValue': 'AVDA. PERU 880 DEPTO 405'},
 {'addressId': '2843956', 'addressValue': 'AVDA. PERU 880 DEPTO 406'},
 {'addressId': '2843957', 'addressValue': 'AVDA. PERU 880 DEPTO 407'},
 {'addressId': '2843958', 'addressValue': 'AVDA. PERU 880 DEPTO 408'},
 {'addressId': '2843959', 'addressValue': 'AVDA. PERU 880 DEPTO 409'},
 {'addressId': '2843960', 'addressValue': 'AVDA. PERU 880 DEPTO 501'},
 {'addressId': '2843961', 'addressValue': 'AVDA. PERU 880 DEPTO 502'},
 {'addressId': '2843962', 'addressValue': 'AVDA. PERU 880 DEPTO 503'},
 {'addressId': '2843963', 'addressValue': 'AVDA. PERU 880 DEPTO 504'},
 {'addressId': '2843964', 'addressValue': 'AVDA. PERU 880 DEPTO 505'},
 {'addressId': '2843965', 'addressValue': 'AVDA. PERU 880 DEPTO 506'},
 {'addressId': '2843966', 'addressValue': 'AVDA. PERU 880 DEPTO 507'},
 {'addressId': '2843967', 'addressValue': 'AVDA. PERU 880 DEPTO 508'},
 {'addressId': '2843968', 'addressValue': 'AVDA. PERU 880 DEPTO 509'},
 {'addressId': '2843969', 'addressValue': 'AVDA. PERU 880 DEPTO 601'},
 {'addressId': '2843970', 'addressValue': 'AVDA. PERU 880 DEPTO 602'},
 {'addressId': '2843971', 'addressValue': 'AVDA. PERU 880 DEPTO 603'},
 {'addressId': '2843972', 'addressValue': 'AVDA. PERU 880 DEPTO 604'},
 {'addressId': '2843973', 'addressValue': 'AVDA. PERU 880 DEPTO 605'},
 {'addressId': '2843974', 'addressValue': 'AVDA. PERU 880 DEPTO 606'},
 {'addressId': '2843975', 'addressValue': 'AVDA. PERU 880 DEPTO 607'},
 {'addressId': '2843976', 'addressValue': 'AVDA. PERU 880 DEPTO 608'},
 {'addressId': '2843977', 'addressValue': 'AVDA. PERU 880 DEPTO 609'},
 {'addressId': '2843978', 'addressValue': 'AVDA. PERU 880 DEPTO 701'},
 {'addressId': '2843979', 'addressValue': 'AVDA. PERU 880 DEPTO 702'},
 {'addressId': '2843980', 'addressValue': 'AVDA. PERU 880 DEPTO 703'},
 {'addressId': '2843981', 'addressValue': 'AVDA. PERU 880 DEPTO 704'},
 {'addressId': '2843982', 'addressValue': 'AVDA. PERU 880 DEPTO 705'},
 {'addressId': '2843983', 'addressValue': 'AVDA. PERU 880 DEPTO 706'},
 {'addressId': '2843984', 'addressValue': 'AVDA. PERU 880 DEPTO 707'},
 {'addressId': '2843985', 'addressValue': 'AVDA. PERU 880 DEPTO 708'},
 {'addressId': '2843986', 'addressValue': 'AVDA. PERU 880 DEPTO 709'},
 {'addressId': '2843987', 'addressValue': 'AVDA. PERU 880 DEPTO 801'},
 {'addressId': '2843988', 'addressValue': 'AVDA. PERU 880 DEPTO 802'},
 {'addressId': '2843989', 'addressValue': 'AVDA. PERU 880 DEPTO 803'},
 {'addressId': '2843990', 'addressValue': 'AVDA. PERU 880 DEPTO 804'},
 {'addressId': '2843991', 'addressValue': 'AVDA. PERU 880 DEPTO 805'},
 {'addressId': '2843992', 'addressValue': 'AVDA. PERU 880 DEPTO 806'},
 {'addressId': '2843993', 'addressValue': 'AVDA. PERU 880 DEPTO 807'},
 {'addressId': '2843994', 'addressValue': 'AVDA. PERU 880 DEPTO 808'},
 {'addressId': '2843995', 'addressValue': 'AVDA. PERU 880 DEPTO 809'},
 {'addressId': '2843996', 'addressValue': 'AVDA. PERU 880 DEPTO 901'},
 {'addressId': '2843998', 'addressValue': 'AVDA. PERU 880 DEPTO 903'},
 {'addressId': '2843999', 'addressValue': 'AVDA. PERU 880 DEPTO 904'},
 {'addressId': '2844000', 'addressValue': 'AVDA. PERU 880 DEPTO 905'},
 {'addressId': '2844001', 'addressValue': 'AVDA. PERU 880 DEPTO 906'},
 {'addressId': '2844002', 'addressValue': 'AVDA. PERU 880 DEPTO 907'},
 {'addressId': '2844003', 'addressValue': 'AVDA. PERU 880 DEPTO 908'}]

In [96]:
type(decoded["addressList"])

list

In [154]:
df1 = pd.DataFrame(decoded["addressList"]) 
df2 = pd.DataFrame(decoded2["addressList"])

In [160]:
df1.addressValue

0                AVDA. PERU 880
1                AVDA. PERU 880
2     AVDA. PERU 880 DEPTO 1001
3      AVDA. PERU 880 DEPTO 201
4      AVDA. PERU 880 DEPTO 202
                ...
67     AVDA. PERU 880 DEPTO 904
68     AVDA. PERU 880 DEPTO 905
69     AVDA. PERU 880 DEPTO 906
70     AVDA. PERU 880 DEPTO 907
71     AVDA. PERU 880 DEPTO 908
Name: addressValue, Length: 72, dtype: object

In [156]:
new1 = df1["addressValue"].str.split(" ", n = 4, expand = True) 
new2 = df2["addressValue"].str.split(" ", n = 4, expand = True)

In [162]:
df1["depto"]=new1[4]
df2["depto"]=new2[4]

In [163]:
df1

   addressId               addressValue depto
0    2762962             AVDA. PERU 880  None
1    2858509             AVDA. PERU 880  None
2    2844005  AVDA. PERU 880 DEPTO 1001  1001
3    2843934   AVDA. PERU 880 DEPTO 201   201
4    2843935   AVDA. PERU 880 DEPTO 202   202
..       ...                        ...   ...
67   2843999   AVDA. PERU 880 DEPTO 904   904
68   2844000   AVDA. PERU 880 DEPTO 905   905
69   2844001   AVDA. PERU 880 DEPTO 906   906
70   2844002   AVDA. PERU 880 DEPTO 907   907
71   2844003   AVDA. PERU 880 DEPTO 908   908

[72 rows x 3 columns]

In [164]:
df2

    addressId         addressValue depto
0     2844006  AV PERU 880 D/ 1002  1002
1     2844007  AV PERU 880 D/ 1003  1003
2     2844008  AV PERU 880 D/ 1004  1004
3     2844009  AV PERU 880 D/ 1005  1005
4     2844010  AV PERU 880 D/ 1006  1006
..        ...                  ...   ...
112   2844119  AV PERU 880 D/ 2207  2207
113   2844120  AV PERU 880 D/ 2208  2208
114   2844121  AV PERU 880 D/ 2209  2209
115   2843997   AV PERU 880 D/ 902   902
116   2844004   AV PERU 880 D/ 909   909

[117 rows x 3 columns]

In [167]:
df3 = pd.concat([df1, df2], axis=0)

In [168]:
df3

    addressId               addressValue depto
0     2762962             AVDA. PERU 880  None
1     2858509             AVDA. PERU 880  None
2     2844005  AVDA. PERU 880 DEPTO 1001  1001
3     2843934   AVDA. PERU 880 DEPTO 201   201
4     2843935   AVDA. PERU 880 DEPTO 202   202
..        ...                        ...   ...
112   2844119        AV PERU 880 D/ 2207  2207
113   2844120        AV PERU 880 D/ 2208  2208
114   2844121        AV PERU 880 D/ 2209  2209
115   2843997         AV PERU 880 D/ 902   902
116   2844004         AV PERU 880 D/ 909   909

[189 rows x 3 columns]

In [172]:
df3.to_csv ('/home/jaimoto/Descargas/av_peru.csv', index = False, header=True)