In [54]:
import pandas as pd
data = pd.read_csv('/home/jaimoto/Python Codes/P16/P160320.dat')

data.columns = ['col1']
data.columns

Index(['col1'], dtype='object')

In [52]:
data.head()

                       col1
0  34013CHN4100000557429576
1  34013CHN5200026599971146
2  34013CHN6100035608851098
3  34013CHN6200029340618932
4  34013CHN7100029762577852

In [46]:
data2['producto']=data['col1'].str.slice(0, 3, 1)
data2['region']=data['col1'].str.slice(3, 5, 1)
data2['moneda']=data['col1'].str.slice(5, 8, 1)
data2['act_econ']=data['col1'].str.slice(8, 10, 1)
data2['saldo']=data['col1'].str.slice(10, 24, 1)

In [53]:
data2.head()

  producto region moneda act_econ           saldo
0      340     13    CHN       41  00000557429576
1      340     13    CHN       52  00026599971146
2      340     13    CHN       61  00035608851098
3      340     13    CHN       62  00029340618932
4      340     13    CHN       71  00029762577852