In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_database = create_engine('sqlite:///actecon_database.db')
file = "/home/jaimoto/python codes/Actividad Economica/D00_202001.TXT"
file_CL01 = "/home/jaimoto/python codes/Actividad Economica/CL01_20200131.TCL"
file_CL22 = "/home/jaimoto/python codes/Actividad Economica/CL22_20200131.TCL"
file_CN01 = "/home/jaimoto/python codes/Actividad Economica/CN01_20200131.TCL"

In [4]:
df_cl01 = pd.read_csv(file_CL01, encoding = "ISO-8859-1", header=0, nrows= 200)
df_cl22 = pd.read_csv(file_CL22, encoding = "ISO-8859-1", header=0, nrows= 200)
df_cn01 = pd.read_csv(file_CN01, encoding = "ISO-8859-1", header=0, nrows= 200)

In [19]:
#df_cn_bci = pd.read_csv("/home/jaimoto/python codes/Actividad Economica/CN01_20200131.TCL",usecols=[1,5,6, 7, 15], converters={0:int, 1:int, 2:str,3:str,4:str}, names=["periodo", "rut_cn","rut", "nombre_cn","act_econ_cn"], sep=',', encoding = "ISO-8859-1", header=None, engine='python')
#print(df_cn_bci)

In [ ]:
chunksize = 100000
i = 0
j = 1
for df in pd.read_csv(file, encoding = "ISO-8859-1", header=0, index_col=False, chunksize=chunksize, iterator=True):
      df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j
      i+=1
      df.to_sql('D00', csv_database, if_exists='append')
      j = df.index[-1] + 1

In [31]:
chunksize = 100000
i = 0
j = 1
for df in pd.read_csv(file_CL01, encoding = "ISO-8859-1", header=None, index_col=False, usecols=[1,5,6, 7, 15], converters={0:int, 1:int, 2:str,3:str,4:str}, chunksize=chunksize, iterator=True):
      #df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j
      i+=1
      df.to_sql('CL01', csv_database, if_exists='append')
      j = df.index[-1] + 1

/home/jaimoto/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
chunksize = 100000
i = 0
j = 1
for df in pd.read_csv(file_CN01, encoding = "ISO-8859-1", header=None, index_col=False, usecols=[1,5,6, 7, 15], converters={0:int, 1:int, 2:str,3:str,4:str}, chunksize=chunksize, iterator=True):
      #df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j
      i+=1
      df.to_sql('CN01', csv_database, if_exists='append')
      j = df.index[-1] + 1

In [33]:
chunksize = 100000
i = 0
j = 1
for df in pd.read_csv(file_CL22, encoding = "ISO-8859-1", header=None, index_col=False, usecols=[1,5,6, 7, 15], converters={0:int, 1:int, 2:str,3:str,4:str}, chunksize=chunksize, iterator=True):
      #df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j
      i+=1
      df.to_sql('CL22', csv_database, if_exists='append')
      j = df.index[-1] + 1

In [43]:
#CREATE TABLE D00_2(ID integer PRIMARY KEY AUTOINCREMENT, rut INT NULL, digito TEXT NULL, act_Econ TEXT NULL);

In [37]:
#df = pd.read_sql_query('INSERT INTO D00_2 (rut, digito, act_Econ) SELECT substr(data,391, 9), substr(data,400, 1), substr(data,39, 2) FROM D00;', csv_database)
#df

In [38]:
df = pd.read_sql_query('select * from D00_2 limit 10;', csv_database)
df

   ID       rut digito act_Econ
0   1  11612799      7       01
1   2  10540253      8       01
2   3   7442119      9       61
3   4  26770497      K       01
4   5   7402435      1       61
5   6   5135940      2       01
6   7  14655187      4       61
7   8  12582539      7       61
8   9  13612057      3       01
9  10  14535571      0       61

In [70]:
df = pd.read_sql_query('select a.rut as rut_D00, a.digito as digito_D00, a.act_Econ as act_econ_D00, b."5" as rut_CL01, b."7" as nom_cli_CL01, b."15" as act_econ_CL01  \
                       from D00_2 a  \
                       inner join CL22 b on a.rut = b."5" and a.act_Econ = b."15";' , csv_database)  #and a.act_Econ = b."15"

df

Empty DataFrame
Columns: [rut_D00, digito_D00, act_econ_D00, rut_CL01, nom_cli_CL01, act_econ_CL01]
Index: []

In [68]:
df.to_csv ('D00 vs CL01.csv', index = False, header=True)

In [1]:
df = pd.read_sql_query('select a.rut as rut_D00, a.digito as digito_D00, a.act_Econ as act_econ_D00, b."5" as rut_CL01, b."7" as nom_cli_CL01, b."15" as act_econ_CN01  \
                       from D00_2 a  \
                       inner join CL22 b on a.rut = b."5" and a.act_Econ = b."15";' , csv_database)  #and a.act_Econ = b."15"

df

NameError: name 'pd' is not defined